*~
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
spec/support/active_record.rb
test/tmp
test/version_tmp
tmp
.byebug_history
polymorphic_integer_type_test
gemfiles/*.lock
.idea/
.ruby-version
mysql
polymorphic_integer_type_test-*