name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        gemfile:
          - Gemfile.rails-5.0-stable
          - Gemfile.rails-5.1-stable
          - Gemfile.rails-5.2-stable
          - Gemfile.rails-6.0-stable
    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "2.6"
      - name: Install dependencies
        run: bundle install
      - name: Run tests
        run:
          bundle exec rspec
